
<button class="btn btn-icon" (click)="goBack()">
    <clr-icon shape="list"></clr-icon>
    Aller à la liste des antennes
</button>
<div id="map-interface">
    <div id="map" #map>
    </div>
    <div id="selected-airplane" class="card" *ngIf="selected">
            <div class="card-header">
                {{ selected.getProperties().call_sign ? selected.getProperties().call_sign : '?'  }} <span *ngIf="recording" class="label label-danger">{{ this.recording.positions.length }} message(s) enregistré(s)</span>
            </div>
            <div class="card-block">
                <div class="card-text">
                        <div class="row" id="gauges">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <ngx-gauge 
                                        type="semi" 
                                        [value]="selected.getProperties().speed.toFixed(1)" 
                                        label="Vitesse"  
                                        append="km/h"
                                        min="0"
                                        max="1000"
                                        [thresholds]="speedThresh"
                                        [duration]="500"
                                        size="150"
                                        >
                                    </ngx-gauge>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <ngx-gauge 
                                        type="semi" 
                                        [value]="(selected.getProperties().altitude / 1000).toFixed(2)" 
                                        label="Altitude"  
                                        append="km"
                                        min="0"
                                        max="12"
                                        [thresholds]="altitudeThresh"
                                        [duration]="500"
                                        size="150"
                                        >
                                    </ngx-gauge>
                                </div>
                            </div>
                        <table class="table table-vertical table-noborder table-compact">
                            <tbody>
                                <tr>
                                    <th>ICAO</th>
                                    <td>{{ selected.getProperties().icao }}</td>
                                </tr>
                                <tr>
                                    <th>Altitude</th>
                                    <td>{{ selected.getProperties().altitude }} m</td>
                                </tr>
                                <tr>
                                    <th>Vitesse</th>
                                    <td>{{ selected.getProperties().speed }} km/h</td>
                                </tr>
                                <tr>
                                    <th>Azimuth</th>
                                    <td>{{ selected.getProperties().heading }} °</td>
                                </tr>
                                <tr>
                                    <th>Gain/Perte d'élevation</th>
                                    <td>{{ selected.getProperties().vertical_rate }} m/min</td>
                                </tr>
                                <tr>
                                    <th>Dernière apparition</th>
                                    <td>{{ selected.getProperties().last_seen | date: 'medium' }}</td>
                                </tr>
                                

                            </tbody>
                        </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row" *ngIf="!recording">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-icon btn-sm btn-warning" (click)="recordWithTrail = true; startRecording()">
                            <clr-icon shape="video-camera"></clr-icon>
                            avec trajectoire
                        </button>        
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-icon btn-sm btn-warning" (click)="recordWithTrail = false; startRecording()">
                            <clr-icon shape="video-camera"></clr-icon>
                            sans trajectoire
                        </button>        
                    </div>
                </div>
                <button type="button" class="btn btn-icon btn-warning" (click)="stopRecording()" *ngIf="recording">
                    <clr-icon shape="stop"></clr-icon>
                    Arrêter enregistrement
            </button>
            </div>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" id="toolbar">
        <a clrVerticalNavLink [class.active]="cl_center" (click)="cl_center = !cl_center"> 
            <clr-icon clrVerticalNavIcon shape="airplane"></clr-icon>
            Mode poursuite
        </a>
        <a clrVerticalNavLink [class.active]="cl_offline" (click)="onMapMode()">
            <clr-icon clrVerticalNavIcon shape="map"></clr-icon>
            Carte hors-ligne
        </a>
        <a clrVerticalNavLink [class.active]="cl_circles" (click)="concentricCircles()">
            <clr-icon clrVerticalNavIcon shape="target"></clr-icon>
            Cercles concentriques
        </a>
        
    </clr-vertical-nav>
    <div id="notifications" *ngIf="alerts">
        <clr-alert *ngFor="let alert of alerts" [clrAlertType]="alert.type">
            <div clr-alert-item class="alert-item">
                <span class="alert-text">
                    {{ alert.text }}
                </span>
            </div>
        </clr-alert>
    </div>
    
</div>