#map-interface {
    height: 100%;
    width: 100%;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #7E8C8D;
}

#selected-airplane {
    position: absolute;
    bottom: 20px;
    right: 5px;
    width: 27%;
    z-index: 99999;
    opacity: 0.8;
}
#selected-airplane *:not(button):not(clr-icon) {
    background-color: #34495e;
    color: white;
}

#toolbar {
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 99999;
    opacity: 0.7;
}

#notifications {
    position: absolute;
    top: 40px;
    right: 5px;
    width: 30%;
    z-index: 99999;
    opacity: 0.7;
}


