
<button class="btn btn-icon" (click)="goBack()">
    <clr-icon shape="list"></clr-icon>
    Aller à la liste des antennes
</button>
<div id="map-interface">
  <div id="map" #map>
  </div>
  <table id="table-airplanes" class="table table-compact table-vertical">
      <tbody>
          <tr>
              <th>Basic table</th>
              <td>.table</td>
              <td>...</td>
          </tr>
          <tr>
              <th>Left-aligned table cells</th>
              <td>.left</td>
              <td>...</td>
          </tr>
          <tr>
              <th>Tables without borders</th>
              <td>.table-noborder</td>
              <td>...</td>
          </tr>
          <tr>
              <th>Compact tables</th>
              <td>.table-compact</td>
              <td>...</td>
          </tr>
          <tr>
              <th>Vertical tables</th>
              <td>.table-vertical</td>
              <td>...</td>
          </tr>
      </tbody>
  </table>
</div>
