#map-wrapper {
    height: 300px;
}
#map {
    height: 100%;
    width: 100%;
    background-color: #7f8c8d;
}


.minimum, .maximum {
    color: white;
    font-weight: bold;
}
.minimum {
    background-color: #3498db;
}

.maximum {
    background-color: #e74c3c;
}