#map {
    height: 270px;
    background-color: #7f8c8d;
}


.minimum, .maximum {
    color: white;
    font-weight: bold;
}
.minimum {
    background-color: #3498db;
}

.maximum {
    background-color: #e74c3c;
}