<div class="main-container">
  <!-- <div class="alert alert-app-level">
      ...
  </div> -->
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <img id="logo" src="./assets/logo.png">
          <span class="title">Traceur avions </span>
      </a>
    </div>
    <div class="header-nav">
        <a routerLink="/dashboard" class="nav-link nav-text" routerLinkActive="active">Tableau de bord</a>
        <a routerLink="/real-time-plotter" class="nav-link nav-text" routerLinkActive="active">Visualisation en TR</a>
        <a routerLink="/antennas" class="nav-link nav-text" routerLinkActive="active">Antennes</a>
        <a routerLink="/recordings" class="nav-link nav-text" routerLinkActive="active">Enregistrements</a>
    </div>
  </header>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>