.il-control {
    text-align: center;
}

.progress {
    position: relative;
    top: 4px;
}

#map-recording {
    height: 100%;
    width: 100%;
    background-color: #7E8C8D;
}

#map-wrapper {
    height: 400px;
}

