.stats-icon, .stats-value {
    padding: 0px;
}
.stats-icon {
    text-align: right;
    padding-right: 7px;
}
.stats-value {
    text-align:  left;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 4px;
}
.stats-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 5px;
}