
.stats-header {
    text-align: center;
}
.stats-value {
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
    top: 7px;
    left: 5px;
}
.stats-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 5px;
}